.App {
  text-align: center;
  color: rgb(206, 155, 191);
}


.App-header {
  background-color: #f30d93;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size:50px;
  color: black;
}

